@import "~bootstrap/scss/bootstrap";
/* MDB SCSS */
@import "~mdb-ui-kit/css/mdb.min.css";
// Slick Slider

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

$la-font-path: "~line-awesome/dist/line-awesome/fonts/";
@import "~line-awesome/dist/line-awesome/scss/line-awesome.scss";

@import "./sections/bit-slider";

// @import "fancyapps/ui/dist/fancybox.css";
/* On load animation css start */
.loader-wrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  .hexagon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10001;
    display: block;
    width: 200px;
    height: 200px;
    transform: translate(-25%, -25%);
    transition: all 500ms;

    // animated squares
    // .square {
    //   margin: 5px;
    //   height: 25px;
    //   width: 25px;
    //   background-color: #086ad8;
    // }
  }
  .section-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #f4efe9;
    transition: all 1000ms;
  }
  .section-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f4efe9;
    transition: all 1000ms;
  }
}
.loader-wrapper.hidden .section-left,
.loader-wrapper.hidden .section-right {
  width: 0;
}
.loader-wrapper.hidden .hexagon {
  opacity: 0;
}

/* On load animation css end */
.animated-card {
  .card-body {
    padding-bottom: 40px;
  }
}
/* Animation example start */
.animated-arrow {
  background-color: #d2a98e;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Absolutaus elemento centravimas parent elemente */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -30px;
  transition: all 3000ms linear;
  &:hover {
    cursor: pointer;
    background-color: red;
    color: black;
    transform: scale(2);
  }
  i {
    color: white;
    font-size: 26px;
  }
}
/* Animation example end */

body {
  line-height: 1.74;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Roboto", sans-serif;
  color: #222;
  position: relative;
  background-color: #ffffff;
}
a {
  color: #333333;
}

.infotechno-bg {
  background: #f4efe9 none repeat scroll 0% 0%;
}

/* Toolbar CSS start */

.demo-option-container {
  position: fixed;
  top: 0;
  left: 100%;
  background: #fff;
  height: 100%;
  width: 350px;
  max-width: calc(100% - 45px);
  z-index: 1000;
  transition: all 0.5s;
  .inner {
    position: absolute;
    top: 200px;
    right: 100%;
    display: block;
    width: 40px;
    border: 1px solid #eee;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    background: #fff;
    text-align: center;
    box-shadow: -3px 0 10px -2px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
}

.demo-option-container.open {
  left: 75%;
}
.demo-option-wrapper {
  height: 100%;
  overflow-y: auto;
  padding-bottom: 55px;
  .demo-panel-header {
    padding: 40px 30px 30px;
    text-align: center;
    h6 {
      margin-top: 30px;
      font-size: 18px;
      color: #222;
    }
    .panel-btn {
      margin-top: 20px;
    }
    .btn-buy-now {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0em;
      line-height: 40px;
    }
  }
}

/* Toolbar CSS end */

/* Main Left collumn CSS start */
.infotechno-hero-text {
  max-width: 605px;
  float: right;
  width: 100%;
  padding-left: 30px;
  h6 {
    color: #086ad8;
    font-weight: 500;
    margin-bottom: 20px;
  }
}
.font-weight--reguler {
  font-weight: 900;
  font-size: 56px;
}

/* Button hover Jquery CSS start*/
.hero-button {
  position: relative;
}
.btn-main {
  position: absolute;
  top: auto;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0em;
  padding: 15px 35px;
}

/* Button hover Jquery CSS end*/

/* Main Left collumn CSS end */

/* Main right collumn CSS start */

.infotechno-hero-inner-images {
  margin-top: 20px;
}
.infotechno-inner-one {
  position: absolute;
  top: 10px;
}
.infotechno-inner-two {
  z-index: 1;
  position: relative;
}

/* Main right collumn CSS end */

/* Slick slide CSS start */
.slick-relative {
  position: relative;
}
// .slick-slide {
//   height: 150px;
// }
.slider-wrapper {
  display: block;
  height: 150px;
}
.slider-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-img-hover {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-relative:hover .slider-img-hover {
  opacity: 1;
}
/* Slick slide CSS end */

/* Features wrapper CSS start */

.section-title-wrap,
.projects-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-sub-title {
  color: #ababab;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 1.43;
  margin-top: -5px;
}
.heading {
  font-size: 46px;
  font-weight: 900;
}

/* Features wrapper CSS end */

/* Features cards CSS start */
.features-cards {
  margin: 60px 50px 30px 63px;
}
.card-wrapper {
  position: relative;
}
.card-text {
  color: #696969;
}
.btn-primary {
  border: none;
}
.btn-features {
  background: #d2a98e;
  position: absolute;
  bottom: -20px;
  border-radius: 50%;
}
.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  .fa-arrow-right {
    font-size: 25px;
    width: 20px;
    height: 30px;
  }
}

.under-heading {
  margin-top: 60px;
  padding-top: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: #333333;
}
/* Features cards CSS end */

/* Section experience CSS start */

.section-experience {
  padding-top: 100px;
  padding-bottom: 100px;
}
.infotechno-section-bg-01 {
  background: url(https://demo.hasthemes.com/mitech-preview/assets/images/patterns/mitech-home-infotechno-section-company-bg.png)
      top 140px left no-repeat,
    -webkit-linear-gradient(top, #fff 0, #f5f5f5 100%);
}

.list-item {
  position: relative;
  padding: 0;
  margin-bottom: 62px;
  &:hover link {
    color: #086ad8;
  }
  .list-header {
    display: flex;
  }
  .marker {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin-right: 10px;
    min-width: 45px;
    color: #ababab;
  }
}

.title-wrap {
  overflow: hidden;
  .title {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 14px;
    padding-top: 20px;
    padding-right: 15px;
    .fa-arrow-right {
      font-size: 20px;
    }
  }
}

/* Section experience CSS end*/

a {
  text-decoration: none;
  color: #333;
}
.card {
  margin: 20px 15px 35px;
  transition: linear 800ms;
  &:hover {
    transform: translateY(-5px);
    .box-projects-arrow {
      display: none;
    }

    .box-projects-arrow-hover {
      display: block;
    }
  }
  &:hover .box-projects-arrow::before {
    transform: translateY(0);
  }
  .card-body {
    padding: 25px 26px 94px;
    padding-bottom: 88px;
  }
  .box-projects-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 56px;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #eee;
    color: #0d6efd;
  }
  .box-projects-arrow-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 56px;
    line-height: 55px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid #eee;
    color: #eee;
    background-color: #0d6efd;
    display: none;
    animation-name: example;
    animation-duration: 1s;
    animation-direction: normal;
  }
}
@keyframes example {
  0% {
    background-color: #0d6efd;
    bottom: -50px;
  }
  100% {
    background-color: #0d6efd;
    bottom: 0px;
  }
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #333;
  opacity: 1;
  font-size: 6px;
}
.slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  background-color: #0d6efd;
  border-radius: 100%;
}
.slick-dots li.slick-active button:before {
  color: transparent;
}

/* Cookies popup CSS start */
.slapukai-container {
  position: fixed;
  width: 100%;
  background: #3858f5;
  padding: 1.5rem 10rem 1.5rem 3rem;
  bottom: 0;
  left: 0;
  color: #fff;
  z-index: 1000;
}

.slapukai-container.closed {
  display: none;
}

.slapukai-container h2 {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.slapukai-container p {
  font-size: 0.9rem;
}

.slapukai-container button.submit {
  position: absolute;
  top: 3.3rem;
  right: 2rem;
  background: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 17px;
  padding: 0.5rem 1.5rem;
  color: #3858f5;
  font-weight: 600;
}

.slapukai-container a.dropdown {
  color: #fff;
  text-decoration: none;
}

.slapukai-container a.dropdown:after {
  content: "\25BD";
  margin-left: 5px;
}

.slapukai-container.open a.dropdown:after {
  content: "\25B3";
  margin-left: 5px;
}
/* Cookies popup CSS start */

/* Video wrapper CSS start */

.infotechno-video-ptb {
  padding: 150px 0;
}
.infotechno-video-bg {
  background-image: url(https://demo.hasthemes.com/mitech-preview/assets/images/bg/home-infotechno-video-intro-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.reverse {
  flex-direction: row-reverse;
}
.vieeo-content-wrap .video-content-inner .heading {
  line-height: 1.34;
  font-weight: 600;
  color: #fff;
  margin-bottom: 65px;
}
.viewo-text-wrap .single-popup-wrap.video-link {
  display: inline-block;
}
.video-link {
  transition: all 0.3s;
}
.single-popup-wrap {
  position: relative;
}
.video-content {
  display: flex;
  align-items: center;
  .ht-popup-video.video-button {
    position: relative;
    margin-right: 0;
    display: inline-block;
    height: 78px;
    width: 78px;
    .video-mark {
      position: absolute;
      top: 50%;
      left: 50%;
      pointer-events: none;
      .wave-pulse {
        width: 1px;
        height: 0;
        margin: 0 auto;
        &::before {
          opacity: 0;
          content: "";
          display: block;
          position: absolute;
          width: 200px;
          height: 200px;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          border: 3px solid #086ad8;
          animation-delay: 0.75s;
        }
        &::after {
          opacity: 0;
          content: "";
          display: block;
          position: absolute;
          width: 200px;
          height: 200px;
          top: 50%;
          left: 50%;
          border-radius: 50%;
          border: 3px solid #086ad8;
          animation-delay: 0s;
        }
      }
    }
  }
  .video-button_two {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-text {
    margin-top: 0;
    margin-left: 59px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.45;
  }
  .video-play {
    width: 78px;
    height: 78px;
    background: #086ad8;
    -webkit-box-shadow: 0 2px 41px 0 rgb(91 99 254 / 36%);
    box-shadow: 0 2px 41px 0 rgb(91 99 254 / 36%);
    border-radius: 50%;
    -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1) !important;
    -o-transition: all 1s cubic-bezier(0, 0, 0.2, 1) !important;
    transition: all 1s cubic-bezier(0, 0, 0.2, 1) !important;
    -webkit-box-shadow: 0 20px 30px rgb(0 0 0 / 7%);
    box-shadow: 0 20px 30px rgb(0 0 0 / 7%);
    .video-play-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      line-height: 1;
      margin-left: 1px;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-left: 17px solid #fff;
        border-top-width: 12px;
        border-bottom-width: 12px;
        border-left-width: 19px;
        border-left-color: #ffffff;
      }
    }
  }
}
.video-link:hover .video-play {
  text-decoration: none;
  color: #086ad8;
}
@-webkit-keyframes zoomBig {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

@keyframes zoomBig {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

@keyframes zoomBig {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    border-width: 3px;
  }
  40% {
    opacity: 0.5;
    border-width: 2px;
  }
  65% {
    border-width: 1px;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    border-width: 1px;
  }
}

/* Video wrapper CSS end */
